---
layout: default
title: Coinomi - Team
---
<div class="container">
    <div class="col-md-6 col-md-offset-3 leave-space-down text-center">
        <h4>Management Team</h4>
    </div>

    <div class="col-md-10 col-md-offset-1 leave-space-down">
        {% for member in site.data.team %}
        <div class="col-md-4">
            <div class="member">
                <img alt="{{ member.name }}" class="member-avatar" height="225" src=
                "../img/team/{{ member.photo }}.jpg" width="225">
                <p class="member-name">{{ member.name }}</p>
                <p class="member-position">{{ member.role }}</p>
                <p>
                    {% if member.linkedin %}
                    <a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
                    {% endif %}
                    {% if member.github %}
                    <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-lg"></i></a>
                    {% endif %}
                    {% if member.twitter %}
                    <a href="{{ member.twitter }}" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-6 col-md-offset-3 leave-space-down text-center">
        Do you love Coinomi and have a strong passion for the blockchain technology? 
        <br />
        j0bs/at/c0in0mi/dot/com
    </div>
</div>